{# {% extends 'base.html.twig' %} #}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Stock Warehouse Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            background-color:#f2f2f2;
            overflow-x: hidden;
        }
        .login-form {
            width: 340px;
            margin: 50px auto;

        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
            padding: 30px;
            border-radius: 20px;
        }
        .login-form h2 {
            margin: 0 0 15px;

        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {
            font-size: 15px;
            font-weight: bold;
            background-color: #4285F4;
        }
        .head{

            margin-top: 150px;
        }

    </style>

{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row head" style="text-align: center;">
        <img src="{{ asset('images/warehouse.png') }}"  style="margin-left: 35px;">

    </div>
    <div class="login-form">
        <form method="post">
            <div class="form-group">
                <input style="border-radius: 8px" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <input style="border-radius: 8px" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required>
            </div>
            <div class="form-group">
                <button  style="border-radius: 8px" type="submit" class="btn  btn-block"><b style="color: white">Sign in</b></button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="#" class="pull-right">Forgot Password?</a>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <input type="hidden" name="_target_path" value="{{ path('warehouse_info') }}"/>

        </form>
    </div>

{% endblock %}




